{% extends 'base.html' %}

{% block body %}
<div class="row border mt-4 p-3 meupost">
    <div class="col-md-3 col-sm-12 text-center">
        <div class="image pe-2">
            <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                 class="rounded img-fluid" alt="Foto de perfil">
        </div>
        <strong>{{ post.autor.username }}</strong>
        <div class="row justify-content-center">
            {% for curso in post.autor.cursos.split(';') %}
                <button type="button" class="btn btn-success mt-2 me-1" disabled>{{ curso }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <h3>
            <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}">{{ post.titulo }}</a>
            <small class="text-muted" style="font-size: 15px"> - Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                {% if form %}
                - <a href="#form_editarpost">Editar Post</a> / <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#ExcluirPost">Excluir Post</a>
                {% endif %}
            </small>
        </h3>
        <p class="text-break">{{ post.corpo | replace('
', '<br>') | safe }}</p>
    </div>
</div>

{% block form_editar_post %}{% endblock %}

<div class="modal fade" id="ExcluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Você quer realmente excluir esse post? (Essa ação não pode ser desfeita)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
          <button type="submit" class="btn btn-danger">Excluir Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
