{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="p-3">Projetos</h1>
        <h5>Aqui é a parte que vamos colocar os projetos que já fizemos, 
            que estamos desenvolvendo ou que pensamos em fazer. 
            Na real, talvez seja mais legal ainda se o Blog inicial seja apenas sobre os projetos 
            e essa parte seja totalmente desnecessária
            <br><br>
            Podemos modificar o site para acrescentar os projetos ao invés dos posts, e criar comentários dentro 
            de cada projeto.
            <br><br>
            Está se criando aqui a lógica de um FÓRUM!!!
            <br><br>
            Vai ficar legal. Vamos evoluir com esta idéia
        </h5>
    </div>
{% endblock %}