{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="p-3">To Do</h1>
        <h5>
            Criar uma logo e incluir no site 
            <br><br>
            Melhorar alguns aspectos visuais (HTML é chato)
            <br>
            - Fazer o curso de HTML Impressionador
            <br><br>
            O tema preto fica bem estranho
            <br>
            - corrigir ou eliminar
            <br><br>
            Alteração de idioma é legal
            <br>
            - terminar de implementar ou eliminar
            <br><br>
            Melhorar a pagina Contato
            <br><br>
            Usuários só podem adicionar comentários as postagens dos projetos:
            <br>
            - Criar níveis de usuários (admim / usuário comum)
            <br><br>
            ?? Para postar comentários nos projetos podemos deixar apenas a necessidade de incluir um e-mail e tel 
            válidos ??
            <br>
            Até pq não estamso validando se o e-mail existe, estamos validando apenas se o e-mail é válido
            <br>
            Diminuir a burocracia em alguns pontos é legal
            <br>
            Pensando neste ponto, validar se o e-mail existe é interessante. Precisamos descobrir como fazer isso
        </h5>
    </div>
{% endblock %}